{% extends "base.html" %}
{% block hero%}
    <section class="hero-section mt-6">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-5 mb-5 align-self-center">
                    <div class="promo pr-md-3 pr-lg-5">
                        <div class="subheadline mb-4">
                            Submitted by: {{ feedback.user.username }}
                        </div><!--//subheading-->
                        <h1 class="headline mb-3">
                            {{ feedback.title }}
                        </h1><!--//headline-->
                        <div class="subheadline mb-4">
                            {{ feedback.content }}
                        </div><!--//subheading-->
                        <div class="subheadline mb-4">
                            Submitted on: {{ feedback.timestamp.strftime('%B %d, %Y') }}
                        </div>
                        <div class="subheadline mb-4">
                            Attachment:
                            {% if feedback.attachment %}
                                <a href="{{ url_for('static', filename='uploads/' + feedback.attachment) }}">Download</a>
                            {% else %}
                                No attachment provided.
                            {% endif %}
                        </div><!--//subheadline-->
                        {% if current_user.is_authenticated %}
                            {% if current_user.has_role('admin') %}
                                <div>
                                    <a href="{{ url_for('mark_reviewed', feedback_id=feedback.id) }}" class="btn btn-secondary">Mark as Reviewed</a>
                                </div>
                            {% elif current_user.id == feedback.user_id %}
                                <div>
                                    <a href="{{ url_for('feedback', feedback_id=feedback.id) }}" class="btn btn-primary">Edit</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div><!--//promo-->
                </div><!--col-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//hero-section-->
{% endblock hero%}
