{% extends "base.html" %}

{% block content%}

	<section id="reviews-section" class="reviews-section py-5">
	    <div class="container">
		    <h2 class="section-heading text-center">Submitted Feedbacks</h2>
		    <div class="section-intro text-center single-col-max mx-auto mb-5">Welcome to Community Report</div>
		    <div class="row justify-content-center">
			{% for feedback in feedbacks %}
			<div class="item col-12 col-md-6 col-lg-4 col-xl-3 p-3 mb-4">
				    <div class="item-inner theme-bg-light rounded p-4">


				        <div class="source media flex-row align-items-center">
							<div class="source-profile mr-md-3">

						        <div class="soure-title">Title</div>
						    </div>
					        <div class="source-info media-body  text-left">

						        <div class="soure-name">{{feedback.title}}</div>
						    </div>
				        </div><!--//source-->
						<div class="details-holder">
							<a href= "details/{{feedback.id}}"><i class='fa fa-arrow-circle-right'></i></a>
						</div>

				        <div class="icon-holder-book"><i class='fa fa-book-open'></i></div>
				    </div><!--//inner-->
			    </div><!--//item-->
			{% endfor %}


		    </div><!--//row-->
	    </div><!--//container-->
    </section>

{% endblock content%}
