{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
<h4 class="item-heading pt-5 mt-6">Search results for "{{key}}"</h4>
  
  <div class="row mt-5">
      <div class="col-md-9 col-sm-12">
        {% if book_not_found %}
          <div class="section-intro text-center single-col-max mx-auto mb-5">The book you're looking for <span class='text-danger'>doesn't</span> exist.</div>
        {% else %}
        <table class="table .list">
          <thead>
            <tr>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            {% for item in result %}
            <tr>
              <td>{{item.isbn}}</td>
              <td>{{item.title}}</td>
              <td>{{item.author}}</td>
              <td><a href= "details/{{item.id}}">Details</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
    <div class="col-md-3 col-sm-0">

    </div>
  </div>
{% endblock %}