{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-6">
        <div class="col-6">
            <div class="search-form">
                <form class="form-inline justify-content-center" action="{{url_for('search')}}" method="post">
                    <h2 class="card-title">Search for Feedback</h2>
                    <div class="form-group">
                        <input name="input-search" class="form-control form-control-lg mr-sm-2"
                            placeholder="Title or Content" type="search" required>
                        <button type="submit" class="btn btn-primary my-2 my-sm-0 btn-lg">Search</button>
                    </div> <!-- form-group// -->
                </form>
            </div>
        </div>
        <div class="col-6"><!--Placeholder right--></div>
    </div>
</div>

{% endblock %}
